.contactContainer {
  background-color: black;
  padding-top: 3.5%;
  /* margin-top: 3.5%; */
  padding-bottom: 2.5%;
  display: flex;
  /* background-color: white; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .aboutContainer h2 {
      margin-top: 7%;
      margin-bottom: 0;
      font-size: 2.8rem;
      left: 0;
    } */
.contactCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35vw;
  /* border: 2px solid red; */
  width: 100%;
  padding: 0% 2%;
}
.contactSubCard {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

  /* border: 2px solid blue; */
  font-family: "Space Grotesk", sans-serif;
  height: 90%;
  margin: 2%;
  line-height: 4.5rem;
  padding: 2%;
  font-size: 2.5rem;
  color: white;
}
.cleft1 {
  width: 60%;
  height: 50% !important;
  font-size: 5.5rem !important;
  line-height: 150% !important;
  display: flex;
  justify-content: center;
}
