* {
  font-family: "Sono", sans-serif;
  font-size: 15px;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
